@import 'variables';

.app-container {
  padding: 0;
}

main {
  .main-layout {
    position: relative;
    background-color: #f6f7f8;
    min-height: calc(100vh - 350px);
  }
}

header {
  .header-layout {
    height: 140px;
    border-bottom: 20px solid $tibet-red;
    background-color: $kalmyk-yellow;
  }
}

footer {
  .footer-layout {
    height: fit-content;
    border-top: 20px solid $tibet-red;
    background-color: $kalmyk-yellow;
  }
}