@import 'variables';

.app-container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  .layout-header {
    height: 89px;
    border-top: 5px solid $tibet-red;
    background-color: $kalmyk-yellow;
  }
}

.footer {
  border-bottom: 5px solid $tibet-red;
}